body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(218, 237, 246);
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: #FF5E5B
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}

.trip-div:hover{
  cursor: pointer;
}
