body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(218, 237, 246);
}

.gigSearch {
  /* margin-left: 20%;
  margin-right: 20%; */
  list-style: none;
  background-color: green;
}

.gigSearch:hover{
transform: scale(1.02)

}

.main {
  margin-left: 25%;
  margin-right: 25%;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: #FF5E5B
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.userAvatarWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 15%;
  padding: 8%;
}

.userHomeWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 15%;
}

/* .homePostedGigs {
  margin-left: 30%;
} */

.ui.category.search.userSearchInput {
  margin-left: 43%;
  padding-top: 20px;
}


.userSearchWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 8%;
  margin-right: 8%;
  padding: 15px;
}

.userSearchCard {
  background-color: white;
  border-radius: 20%;
}

.userSearchImage {
  max-width: 300px;
  display:block;
  margin:auto;
  padding: 8%;
  text-align: center;
}

.subtitle {
  text-align: center;
  /* margin-bottom: 5px; */
  padding-bottom: 10px;
}

.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}

.trip-div:hover{
  cursor: pointer;
}

.avatar {
  max-width: 300px;

}

.gigPageUserImages {
  max-width: 100px;
}
