body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-color: rgb(218, 237, 246); */
  background-color: #E9EBEE
}

.gigSearch {
  list-style: none;
  background-color: green;
}

.gigSearch:hover{
transform: scale(1.02)

}

.main {
  /* margin-left: 25%;
  margin-right: 25%; */
  padding: 4%;
}

.titleCenter {
  text-align: center;

}

.gigSearchFilters {
  text-align: center;
}

.loginForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 8%;
}

.gridColumn2 {
  grid-column: 2;
}

.gigSearchFiltersButtons {
  padding: 5px;
}

.gigPageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

  padding: 8%;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    /* background-color: #FF5E5B */
    background-color: #4469B0;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.gigHunterLogo {
  color: white;
}

.center{
  text-align: center;
}



.userAvatarWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 15%;
  padding: 8%;
}

.userPageAvatarWrapper {
  display: block;
  /* margin-left: 10%; */
  /* padding: 8%; */
}

.userPageAvatarAndBioWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 15%;
  padding: 8%;
}

.gigPageInfoWrapper {
  display: block;
  margin-left: 15%;
  margin-right: 15%;
  padding: 8%;
}

.ui.card.bio {
  padding: 10px;
}

.avatar {
  max-width: 300px;
}

.userAvatarPhoto {
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}

.userHomeWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 15%;
}

.yourPostedGigData {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-right: 10%;
}

.yourPostedGigData:hover{
  background-color: #D3D3D3;
}

.homePostedGigs {
  display: block;
}

.ui.category.search.userSearchInput {
  margin-left: 43%;
  padding-top: 20px;
}


.userSearchWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 12%;
  /* margin-right: 8%; */
  padding: 15px;

}

.userSearchCard {
  background-color: white;
  border-radius: 20%;
}

.userSearchImage {
  max-width: 300px;
  display:block;
  margin:auto;
  padding: 8%;
  text-align: center;
}

.subtitle {
  text-align: center;
  /* margin-bottom: 5px; */
  padding-bottom: 10px;
}

.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}

.trip-div:hover{
  cursor: pointer;
}


.gigPageUserImages {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 10px;
}
